#menu-bar {
  width: 95%;
  margin: 0px 0px 0px 0px;
  padding: 1px 3px 3px 6px;
  height: 32px;
  line-height: 100%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 0px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  background: #E48702;
  background: linear-gradient(top,  #E48702,  #FE9500);
  background: -ms-linear-gradient(top,  #E48702,  #FE9500);
  background: -webkit-gradient(linear, left top, left bottom, from(#E48702), to(#FE9500));
  background: -moz-linear-gradient(top,  #E48702,  #FE9500);
  border: solid 0px #7D7D85;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 0px 0px 6px 0px;
  padding: 1px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
    display: inline-block;
    vertical-align: middle; 

  display: block;
  padding: 7px 19px 5px 19px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
 
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  
  color: #fff;
 /* -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 1px 2px #262626;*/
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #fff;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #D17C02 !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #E48702,  #FE9500);
  background: -ms-linear-gradient(top,  #E48702,  #FE9500);
  background: -webkit-gradient(linear, left top, left bottom, from(#E48702), to(#FE9500));
  background: -moz-linear-gradient(top,  #E48702,  #FE9500);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 32px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-box-shadow: 2px 2px 3px #CCCCCC;
  -moz-box-shadow: 2px 2px 3px #CCCCCC;
  box-shadow: 2px 2px 3px #CCCCCC;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#FFFFFF !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 1px 1px 1px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}